In [1]:
import pandas as pd

In [5]:
df = pd.read_excel("1.xlsx","Sheet1")

In [6]:
df

   姓名  年龄  身高
0  张三  23  17
1  李四  34  18
2  网二  33  19

In [7]:
df['姓名']

0    张三
1    李四
2    网二
Name: 姓名, dtype: object

In [8]:
df['年龄']

0    23
1    34
2    33
Name: 年龄, dtype: int64

In [10]:
df.loc[0]

姓名    张三
年龄    23
身高    17
Name: 0, dtype: object

series

In [14]:
type(df['身高'])

pandas.core.series.Series

In [15]:
s = pd.Series([1,2,3])

In [16]:
s

0    1
1    2
2    3
dtype: int64

In [17]:
s[0]

1

In [18]:
s[1]

2

In [19]:
s = pd.Series({"a":1,"b":2,"c":3})

In [20]:
s

a    1
b    2
c    3
dtype: int64

In [21]:
s["a"]

1

In [22]:
s['b']

2

In [23]:
s["c"]

3

In [24]:
s + s

a    2
b    4
c    6
dtype: int64

dataframe

In [25]:
import numpy as np

In [26]:
pd.DataFrame(np.random.rand(3,4))

          0         1         2         3
0  0.463623  0.192959  0.348435  0.007231
1  0.341179  0.453209  0.786824  0.040612
2  0.175913  0.969683  0.842613  0.312002

In [27]:
pd.DataFrame(np.random.rand(3,4),columns=['A','B','C','D'])

          A         B         C         D
0  0.437214  0.283048  0.324891  0.353882
1  0.498310  0.768318  0.500253  0.064710
2  0.837894  0.189575  0.739436  0.016934

In [30]:
df = pd.DataFrame(np.random.rand(3,4),columns=['A','B','C','D'],index=['a','b','c'])

In [32]:
df

          A         B         C         D
a  0.711330  0.521022  0.037887  0.416953
b  0.114757  0.582068  0.621693  0.336591
c  0.106166  0.013613  0.256510  0.403311

In [33]:
df["A"]

a    0.711330
b    0.114757
c    0.106166
Name: A, dtype: float64

In [34]:
df.loc['a']

A    0.711330
B    0.521022
C    0.037887
D    0.416953
Name: a, dtype: float64

In [35]:
df.A

a    0.711330
b    0.114757
c    0.106166
Name: A, dtype: float64

In [36]:
df.to_csv("2.csv")

In [37]:
df1 = pd.read_csv("2.csv")

In [38]:
df1

  Unnamed: 0         A         B         C         D
0          a  0.711330  0.521022  0.037887  0.416953
1          b  0.114757  0.582068  0.621693  0.336591
2          c  0.106166  0.013613  0.256510  0.403311

In [41]:
df1 = pd.read_csv("2.csv",index_col=0)

In [42]:
df1

      Unnamed: 1          ddd   Unnamed: 3   Unnamed: 4
NaN            A            B            C            D
a    0.711329928  0.521021995  0.037887435  0.416953292
b    0.114756598  0.582068331  0.621693236  0.336591015
c    0.106165794  0.013612547  0.256510039  0.403311492

In [43]:
df1 = pd.read_csv("2.csv",index_col=0,skiprows=1)

In [44]:
df1

          A         B         C         D
a  0.711330  0.521022  0.037887  0.416953
b  0.114757  0.582068  0.621693  0.336591
c  0.106166  0.013613  0.256510  0.403311